.spinner {
  width: 60px;
  height: 60px;
  border: 4px solid rgb(107, 164, 255);
  border-top-color: transparent;
  border-radius: 9999px;
  animation: spin 1s linear infinite;
  margin: 20px 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
